
.routes {
  display: block;
  padding: 0.5%;
  background-color: #E17842;
 
}
.routes span{
  color: white
 
}

.post {
  background-color: rgb(196, 196, 196);
  padding: 0.2px 30px 10px 80px;
  border-bottom: 1px solid #eee;
  position: relative;
  line-height: 0.5px;
  
}

.postNum{
  color: gray;
  font-size: 1.0em;
  font-weight: 700;
  position: absolute;
  top: 60%;
  left: 0;
  width: 90px;
  text-align: center;
  margin-top: -10px;
}


.post .postFooter {
  font-size: .85em;
  color: #828282;

}

.post a {
  color: #34495e;
  font-weight: 600;
  text-decoration: none;
}
.post a span {
  font-size: .85em;
  margin-left: 10px;
  color: #828282;
}